# Code Practice #2

### 1. Does this code run without error? If so, waht does it produce? If not, explain why.

x = [1,2,3]
y = 'bootcamp'
z = x + y

this code will produce an error since you can't concatenate a string to a list

### 2. For the same x and y as previous question: What function tells us what type they are? What function tells us how many elements they contain?

Function type() will tell us what type the value is
Function len() will tell us how many elements the value contain

### 3. What type is each expression? How can you tell?

Integer: have no apostrophes or decimal and is a number

Float: have decimal and is a number

String: Apostrophes around the object

Boolean: comparison 

List: have square brackets around

Tuple: Similar to list but have a parenthesis

Dictionary: Have pointy brackets and keys and values inside it

2 -> integer

'2' -> string

2.0 -> float

"2.0" -> string

2>1 -> boolean

'Itamar' > 'Chase'

[1,2]

(1,2)

{1: 'one', 2: 'two'}

### 4. What value does each of these comparisons have?

1 >= 0 : True

1 >= 1 : True

1 > 1 : False

1 == 1 : True

1 == 1.0 : True

'Spencer' == "Spencer" : True

2******3 > 3******2 : False

1 >= 0 or 1 <= 2 : True

1 >= 0 and 1 <=2 : True

### 5. Does this code run without error? If so, what does it produce? If not, how would you fix it?

if 2 > 1

    print('Yes, 2 is still greater than 1')

this code has an error and wouldn't print. Even though the boolean leads to True but the code is missing a colon to complete the if statement syntax

### 6. What is the result of running this code? Why?

if True:

    print('on the one hand')
    
else:

    print('but on the other hand')

+) The result of this code will print out 'on the one hand'

+) if True is replaced with False then the function will print out 'but on the other hand'

+) if we insert the word not after the first if line, then the function will print the opposite of what the user input in the boolean value

### 7. What is the result of running this code?

cond = True

if cond:

    x = "Chase"
    
else:

    x = "Dave"
    
print(x)

+) after these codes are ran te program will print out Chase

### 8. Suppose we have two lists, x = [1,2,3,4] and y = ['x', 'y', 'z']. Adapt the code below to determine which has more elements:

In [ ]:
x = [1,2,3,4]
y = ['x', 'y', 'z']

if len(x) > len(y):
    print('x has more')
else:
    print('y has at least as many')

### 9. Explain in words what slicing does

Slicing a function takes a certain range of values specified by the indexes and extract it out

### 10. How would you extract ("slice") the first element (the integer i) from the list x below? The last element? All but the last element?

x = [1,2,3,4,5]

x[0] - first element

x[-1] - last element

x[0:-1] - all but last element

### 11. Use slicing to extract each word from

sentence = "This is a sentence; please slice it."

sentence[0:4]

sentence[5:7]

sentence[8]

sentence[10:18]

sentence[20:26]

sentence[27:32]

sentence[33:35]

### 12. Consider the list:

x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]

a) How would you slice out the first item? the last item?

x[0]

x[-1]

b) How would you slice out the items from 'b' to 3 inclusive?

x[3:7]

### 13. Using the same list x, write a loop that prints every element on a new line

In [ ]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]

for variable in x:
    print(variable)

### 14. *Challenging*. Using the same list x, write a loop that print every element of type str

In [ ]:
for string_variable in x:
    if type(string_variable) == str:
        print(string_variable)

### 15. Use the help function in Jupyter to find out what the range function does. How would you describe range(3,12,2)? Verify by converting to a list with list(range(3,12,2))

start from 3 and take 2 steps until reaching a limit that is lesser than 12 : 3,5,7,9,11

In [ ]:
list(range(3,12,2))

### 16. *Challenging*. Write a loop that sums the integers from zero to thirty that are multiples of three: 3, 6, etc.

In [ ]:
counter = 0
for number in range(3, 31, 3):
    counter += number
print(counter)

### 17. Define a function pocket_change() that takes four integers as inputs (numbers of pennies, nickles, dimes, and quarters in your pocket) and returns a floating point number (their dollar value). Run your program with the input (1,2,3,4). Bonus (optional): Report the value with a dollar sign

In [ ]:
def pocket_change(pennies, nickles, dimes, quarters):
    pennies *= 0.01
    nickles *= 0.05
    dimes *= 0.10
    quarters *= 0.25
    
    total_value = pennies + nickles + dimes + quarters
    string_pocket_value = '$' + str(total_value)
    
    return string_pocket_value

In [ ]:
pocket_change(1,2,3,4)

### 18. *Challenging*. Write a function notsix() that takes a list of integers and returns a (shorter) list of those that do not begin with 6. Test it on the list [1234, 6783, 6, 4321, 9876]. *Hints*: YOu can create a blank list with x = []. You can append item to it with x.append(item)

In [ ]:
def notsix(list_integer):
    short_list = []
    
    for number in list_integer: 
        number_list = list(str(number))
        if number_list[0] != '6':
            short_list.append(number)
    
    return short_list

In [ ]:
notsix([1234, 6783, 6, 4321, 9876])

### 19. *Challenging*. Explain what this code does:

old_list = [1234, 6783, 6, 4321, 9876]

new_list = [x for x in old_list if str(x)[0] != "6"]

These line of codes did the same thing as problem 18 for the function notsix(). It removed any number that has number 6 in the beginning of the number and append the other number to the variable new_list

### 20. Consider the Python object

z = {1: 'one', 2: 'two', 3: 'three'}

##### a) What kind of object is z? What is its length?

z is a dictionary with length 3

##### b) Which components are keys? Which are values?

compoenent 1 2 and 3 are keys and values are 'one' 'two' and 'three'

##### c) How would I get the value assocaited with the key 2?

z[2]

##### d) Use Jupyter's help facilities to figure out what z.keys() does. Ditto z.values(). Try them to verify. 

z.keys() show all the keys in the dictionary z. 

z.values() show all the values in the dictionary z

##### e) What does list(z.keys()) do?

return dict_keys([1, 2, 3])

return dict_values(['one', 'two', 'three'])

##### f) What does list(z) do?

print the list of keys in z

### 21. Approximately how long did this assignment take you? Answer this by creating a .csv file and entering a time (in minutes) and posting it to your Github my_first_repository title time_for_practice2.csv

1h and 15m